version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app/raw_data:/app/app/raw_data
    environment:
      - VC_API_KEY=JVCG7L7W6F53QZUR2QX6P6XJ8 
      - OPENAQ_API_KEY = "d44de1af94a65b225622ebda9613901f62f5c7235731daeba81a8a924690f8c7"
    restart: always

  frontend:
    build: ./swaasthaktm
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    restart: always
